<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">

<div th:fragment="headerFragment">
         <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="index" class="logo m-0 float-start">BookBridge</a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li class="active"><a href="index">Home</a></li>
              <li><a href="about">소개</a></li>
              <li>
                <a href="index#section1" class="js-menu-toggle" id="scrollBtn">인기 도서</a>
              </li>
              <li><a href="reviewList">독후감 나눔터</a></li>
              
              <li>
              <a th:if="${session.userInfo == null}" class="js-menu-toggle" href="#" data-bs-toggle="modal" 
              data-bs-target="#loginModal">로그인</a>
              <a th:if="${session.userInfo != null}" href="logout">[[${session.userInfo.getNickName()}]]님. <span>로그아웃</span></a>
              </li>
            </ul>

            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </nav>
</div>
</html>